/* variables */
:root{
  --primary: #A91D3A;
  --secondary: #C73659;
}

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* base styles */
/* Site-wide styling is in the index CSS file! */
.btn-start {
  width: 265px;
  height: 87px;
  font-size: 3rem;
}

.btn-cuisine {
  width: 356px;
  height: 87px;
  font-size: 2.5rem;
}

.btn-budget {
  width: 356px;
  height: 140px;
  font-size: 2.5rem;
}
.btn-location {
  width: 356px;
  height: 69px;
  font-size: 2.5rem;
}
.btn-home {
  width: 60px;
  height: 60px;
}
.btn-info {
  width: 60px;
  height: 60px;
}

/* fonts */

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px){
  
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

}

/* desktop styles */
@media screen and (min-width: 1200px){

}