/* variables */
:root {
  --primary: #a91d3a;
  --secondary: #c73659;
  --tertiary: #a82c49;
  --textcol: #ffffff;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}
li {
  list-style-type: none;
}
button {
  border: none;
}

/* base styles */
body {
  background-color: var(--primary);
  /* Don't allow user to scroll L-R to see images that push off screen: */
  overflow-x: hidden;
}
.btn {
  background: var(--secondary);
  box-shadow: 0px 6px 4px 0px #00000040;
  border-radius: 30px;
  opacity: 0px;
  display: block;
  margin: 2rem;
}
.btn:hover {
  background: var(--tertiary);
}

/* fonts */
body * {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--textcol);
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
