.list-category {
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    margin: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: hsl(185, 100%, 50%);
}

.list-items {
    font-size: 2em;
    list-style: none;
    color: hsl(0, 0%, 25%);
    text-align: center;
    margin: 0;
}

.list-items li:hover{
    color: hsl(0, 0%, 45%);
    cursor: pointer;
}