.welcome-message {
    font-size: 2.5em;
    background-color: hsl(120, 100%, 42%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login-prompt {
    font-size: 2.5em;
    background-color: hsl(0, 55%, 44%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}