.todo-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.todo-container li {
    list-style-type: none;
}

.todo-display {
    font-size: 1em;
    margin 0;
    padding: 0;
}

.add-button {
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
    background-color: rgb(77, 165, 202);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: rgb(66, 144, 177);
}

#taskInput {
    padding: 10px;
    margin: 10px;
}
